<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title laporan pkl
        link(rel="stylesheet", type="text/css",href="/css/bootstrap.min.css")
    body  
        nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
            div(class="container")
                a(class="navbar-brand", href="/") Makerun
                button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse", id="navbarNav")
                    ul(class="navbar-nav")
                        li(class="nav-item active")
                            a(class="nav-link", href="/") Home
                        li(class="nav-item")
                            a(class="nav-link", href="/about") About
                        li(class="nav-item")
                            a(class="nav-link", href="/contact") Contact
                        li(class="nav-item")
                            a(class="nav-link", href="/login") Login
        div(class="container")
            div(class="card")
                div(class="card-body")
                    table(class="table table-hover")
                        tr
                            th(width="90") Nama
                            th(width="90") kelas
                            th(width="90") NIS
                        each sisw in siswa
                            tr
                                td #{sisw['nama']}
                                td #{sisw['kelas']}
                                td #{sisw['NIS']}