        // General JS Scripts
        script(src='/modules/jquery.min.js')
        script(src='/modules/popper.js')
        script(src='/modules/tooltip.js')
        script(src='/modules/bootstrap/js/bootstrap.min.js')
        script(src='/modules/nicescroll/jquery.nicescroll.min.js')
        script(src='/modules/moment.min.js')
        script(src='/js/stisla.js')
        script(src='/plugins/sweetalert2/sweetalert2.all.min.js')
        // JS Libraies
        // Page Specific JS File
        // Template JS File
        script(src='/js/scripts.js')
        script(src='/js/custom.js')